CommerceClient/Service References/HomeServiceReference/HomeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewCommerceService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewCommerceService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducttype">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producttype" nillable="true" type="tns:Producttype" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducttype" nillable="true" type="tns:ArrayOfProducttype" />
  <xs:complexType name="Producttype">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Categorytype" />
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityAvailable" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producttype" nillable="true" type="tns:Producttype" />
  <xs:complexType name="Categorytype">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categorytype" nillable="true" type="tns:Categorytype" />
  <xs:complexType name="ImdbEntityType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Awards" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metascore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovieID" type="xs:int" />
      <xs:element minOccurs="0" name="Plot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poster" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Released" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Runtime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Writer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imdbRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imdbVotes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImdbEntityType" nillable="true" type="tns:ImdbEntityType" />
</xs:schema>