CommerceClient/Service References/HomeServiceReference/HomeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:98/HomeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NewCommerceService" />
  <xs:element name="DisplayAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NewCommerceService" minOccurs="0" name="DisplayAllProductsResult" nillable="true" type="q1:ArrayOfProducttype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayProductsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayProductsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NewCommerceService" minOccurs="0" name="DisplayProductsByCategoryResult" nillable="true" type="q2:ArrayOfProducttype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NewCommerceService" minOccurs="0" name="GetMovieResult" nillable="true" type="q3:ImdbEntityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>