CommerceClient/Service References/HomeServiceReference/HomeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HomeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:98/HomeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:98/HomeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:98/HomeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NewCommerceService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHomeService_DisplayAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllProducts" />
  </wsdl:message>
  <wsdl:message name="IHomeService_DisplayAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService_DisplayProductsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayProductsByCategory" />
  </wsdl:message>
  <wsdl:message name="IHomeService_DisplayProductsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayProductsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantity" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovie" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="IHomeService">
    <wsdl:operation name="DisplayAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/DisplayAllProducts" message="tns:IHomeService_DisplayAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/DisplayAllProductsResponse" message="tns:IHomeService_DisplayAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayProductsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/DisplayProductsByCategory" message="tns:IHomeService_DisplayProductsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/DisplayProductsByCategoryResponse" message="tns:IHomeService_DisplayProductsByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/GetQuantity" message="tns:IHomeService_GetQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/GetQuantityResponse" message="tns:IHomeService_GetQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/GetMovie" message="tns:IHomeService_GetMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/GetMovieResponse" message="tns:IHomeService_GetMovie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHomeService" type="tns:IHomeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayAllProducts">
      <soap:operation soapAction="http://tempuri.org/IHomeService/DisplayAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayProductsByCategory">
      <soap:operation soapAction="http://tempuri.org/IHomeService/DisplayProductsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuantity">
      <soap:operation soapAction="http://tempuri.org/IHomeService/GetQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <soap:operation soapAction="http://tempuri.org/IHomeService/GetMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeService">
    <wsdl:port name="BasicHttpBinding_IHomeService" binding="tns:BasicHttpBinding_IHomeService">
      <soap:address location="http://localhost:98/HomeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>